[submodule "third_party/sqltest"]
	path = third_party/sqltest
	url = https://github.com/elliotchance/sqltest.git
[submodule "third_party/sqllogictest"]
	path = third_party/sqllogictest
	url = https://github.com/rjwalters/sqllogictest
[submodule "docs/reference/sqlite"]
	path = docs/reference/sqlite
	url = https://github.com/sqlite/sqlite.git
